In [1]:
import pandas as pd

In [2]:
df = pd.read_json("./stockInfo.json")

In [3]:
df.to_html("stock_html", index = False)

In [4]:
df

,Ticker,name,sector,Omo1,Hmo1,Lmo1,Cmo1,Vmo1,Omo2,Hmo2,...,Omo5,Hmo5,Lmo5,Cmo5,Vmo5,Omo6,Hmo6,Lmo6,Cmo6,Vmo6
0,MMM,3M Company,Industrials,202.80,203.515,201.920,202.61,1529214,197.66,198.99,...,182.29,182.98,174.8701,175.66,4208471,174.12,174.870,173.1800,174.79,1840910
1,ABT,Abbott Laboratories,Health Care,118.04,118.260,117.240,117.29,3095985,120.50,121.15,...,120.25,124.72,119.7100,123.59,10995062,108.17,109.640,107.8500,109.49,2981077
2,ABBV,AbbVie Inc.,Health Care,116.59,116.810,115.590,115.91,4821311,111.47,112.31,...,104.00,104.49,101.8117,102.48,9379013,105.26,107.280,104.8500,107.15,6146745
3,ABMD,Abiomed,Health Care,282.65,283.090,279.520,279.58,184160,320.09,327.00,...,348.40,354.69,337.9300,348.25,423266,324.38,325.270,318.5650,324.20,229004
4,ACN,Accenture,Information Technology,285.20,286.040,284.215,284.85,1214972,290.77,290.92,...,248.24,249.23,241.7300,241.92,2494406,257.60,261.320,257.4750,261.21,1325321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,YUM,Yum! Brands Inc,Consumer Discretionary,120.16,121.600,119.980,120.52,1414900,118.92,119.92,...,102.09,103.24,101.1800,101.49,1901293,108.74,109.175,107.3800,108.56,1651699
498,ZBRA,Zebra Technologies,Information Technology,498.38,503.890,498.000,501.62,246539,491.03,494.91,...,390.31,397.69,382.4912,387.83,298959,383.72,385.490,380.4585,384.33,176519
499,ZBH,Zimmer Biomet,Health Care,168.62,169.040,167.610,167.86,783540,178.09,178.45,...,156.00,156.79,151.8500,153.67,1621543,151.86,154.480,151.2500,154.09,499190
500,ZION,Zions Bancorp,Financials,58.01,58.070,57.280,57.53,907797,55.95,56.77,...,45.29,45.54,43.6400,44.14,1497023,43.20,43.620,42.7400,43.44,736330
501,ZTS,Zoetis,Health Care,177.05,178.710,175.980,176.40,2272969,173.70,174.85,...,155.65,156.57,152.3000,154.25,1976659,164.50,165.675,163.2300,165.50,1292649